:root {
    --main-text-color: #505050;
    --main-text-color-disabled: rgba(80, 80, 80, 0.3);
    --main-blue: #198cff;
    --main-gray: #f7f7f7;
    --sub-gray: #e4e4e4;
    --hover-blue: #198fff;
    --press-gray: #c6c6c6;
    --border-color: #dad9d9;
    --modal-border-color: #d3d3d3;
    --small-font-size: 12px;
    --medium-font-size: 14px;
    --large-font-size: 16px;
    --tabbar-height: 30px;
    --modal-bg-color: #f9f9f9;
}

html * {
    padding: 0;
    margin: 0;
    user-select: none !important;
}

html,
body {
    height: 100%;
    font-size: var(--small-font-size);
    /*解决dropdown和modal同时使用时会出现抖动的问题*/
    overflow: hidden;
    color: var(--main-text-color);
}

li {
    list-style: none;
}
.gr-dropdown-box {
    position: absolute;
    top: 0;
    left: 0;
}
#app {
    width: 100%;
    height: 100vh;
    border: 1px solid var(--border-color);
    overflow: hidden;
    position: relative;
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei",
    "\9ED1\4F53", Arial, sans-serif;
    user-select: none;
}
